<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fire_ball (1).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,192}</string>
                <key>spriteSourceSize</key>
                <string>{192,192}</string>
                <key>textureRect</key>
                <string>{{0,0},{192,192}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fire_ball (10).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,192}</string>
                <key>spriteSourceSize</key>
                <string>{192,192}</string>
                <key>textureRect</key>
                <string>{{1728,0},{192,192}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fire_ball (11).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,192}</string>
                <key>spriteSourceSize</key>
                <string>{192,192}</string>
                <key>textureRect</key>
                <string>{{0,192},{192,192}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fire_ball (12).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,192}</string>
                <key>spriteSourceSize</key>
                <string>{192,192}</string>
                <key>textureRect</key>
                <string>{{192,192},{192,192}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fire_ball (13).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,192}</string>
                <key>spriteSourceSize</key>
                <string>{192,192}</string>
                <key>textureRect</key>
                <string>{{384,192},{192,192}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fire_ball (14).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,192}</string>
                <key>spriteSourceSize</key>
                <string>{192,192}</string>
                <key>textureRect</key>
                <string>{{576,192},{192,192}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fire_ball (15).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,192}</string>
                <key>spriteSourceSize</key>
                <string>{192,192}</string>
                <key>textureRect</key>
                <string>{{768,192},{192,192}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fire_ball (16).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,192}</string>
                <key>spriteSourceSize</key>
                <string>{192,192}</string>
                <key>textureRect</key>
                <string>{{960,192},{192,192}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fire_ball (17).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,192}</string>
                <key>spriteSourceSize</key>
                <string>{192,192}</string>
                <key>textureRect</key>
                <string>{{1152,192},{192,192}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fire_ball (18).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,192}</string>
                <key>spriteSourceSize</key>
                <string>{192,192}</string>
                <key>textureRect</key>
                <string>{{1344,192},{192,192}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fire_ball (19).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,192}</string>
                <key>spriteSourceSize</key>
                <string>{192,192}</string>
                <key>textureRect</key>
                <string>{{1536,192},{192,192}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fire_ball (2).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,192}</string>
                <key>spriteSourceSize</key>
                <string>{192,192}</string>
                <key>textureRect</key>
                <string>{{192,0},{192,192}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fire_ball (20).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,192}</string>
                <key>spriteSourceSize</key>
                <string>{192,192}</string>
                <key>textureRect</key>
                <string>{{1728,192},{192,192}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fire_ball (21).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,192}</string>
                <key>spriteSourceSize</key>
                <string>{192,192}</string>
                <key>textureRect</key>
                <string>{{0,384},{192,192}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fire_ball (22).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,192}</string>
                <key>spriteSourceSize</key>
                <string>{192,192}</string>
                <key>textureRect</key>
                <string>{{192,384},{192,192}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fire_ball (23).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,192}</string>
                <key>spriteSourceSize</key>
                <string>{192,192}</string>
                <key>textureRect</key>
                <string>{{384,384},{192,192}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fire_ball (24).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,192}</string>
                <key>spriteSourceSize</key>
                <string>{192,192}</string>
                <key>textureRect</key>
                <string>{{576,384},{192,192}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fire_ball (25).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,192}</string>
                <key>spriteSourceSize</key>
                <string>{192,192}</string>
                <key>textureRect</key>
                <string>{{768,384},{192,192}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fire_ball (26).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,192}</string>
                <key>spriteSourceSize</key>
                <string>{192,192}</string>
                <key>textureRect</key>
                <string>{{960,384},{192,192}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fire_ball (27).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,192}</string>
                <key>spriteSourceSize</key>
                <string>{192,192}</string>
                <key>textureRect</key>
                <string>{{1152,384},{192,192}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fire_ball (28).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,192}</string>
                <key>spriteSourceSize</key>
                <string>{192,192}</string>
                <key>textureRect</key>
                <string>{{1344,384},{192,192}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fire_ball (29).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,192}</string>
                <key>spriteSourceSize</key>
                <string>{192,192}</string>
                <key>textureRect</key>
                <string>{{1536,384},{192,192}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fire_ball (3).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,192}</string>
                <key>spriteSourceSize</key>
                <string>{192,192}</string>
                <key>textureRect</key>
                <string>{{384,0},{192,192}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fire_ball (30).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,192}</string>
                <key>spriteSourceSize</key>
                <string>{192,192}</string>
                <key>textureRect</key>
                <string>{{1728,384},{192,192}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fire_ball (4).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,192}</string>
                <key>spriteSourceSize</key>
                <string>{192,192}</string>
                <key>textureRect</key>
                <string>{{576,0},{192,192}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fire_ball (5).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,192}</string>
                <key>spriteSourceSize</key>
                <string>{192,192}</string>
                <key>textureRect</key>
                <string>{{768,0},{192,192}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fire_ball (6).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,192}</string>
                <key>spriteSourceSize</key>
                <string>{192,192}</string>
                <key>textureRect</key>
                <string>{{960,0},{192,192}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fire_ball (7).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,192}</string>
                <key>spriteSourceSize</key>
                <string>{192,192}</string>
                <key>textureRect</key>
                <string>{{1152,0},{192,192}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fire_ball (8).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,192}</string>
                <key>spriteSourceSize</key>
                <string>{192,192}</string>
                <key>textureRect</key>
                <string>{{1344,0},{192,192}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fire_ball (9).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,192}</string>
                <key>spriteSourceSize</key>
                <string>{192,192}</string>
                <key>textureRect</key>
                <string>{{1536,0},{192,192}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>fire_ball.png</string>
            <key>size</key>
            <string>{1920,576}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:646da0692c5dacf44bef953a74f1c8c6:4603313de7c3ef671fd76cf354aed409:5687450545dc404ceb926ecb6cb7e309$</string>
            <key>textureFileName</key>
            <string>fire_ball.png</string>
        </dict>
    </dict>
</plist>
