<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>paradiso_death_SE.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,300}</string>
                <key>spriteSourceSize</key>
                <string>{300,300}</string>
                <key>textureRect</key>
                <string>{{0,0},{300,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>paradiso_death_SE.png</string>
            <key>size</key>
            <string>{300,300}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0f4ad0590740230636c4fc92e2564bad:b466d58108cb2549fc77db3dadac0de4:120f1e1cf248974161fc1c3c98a620b6$</string>
            <key>textureFileName</key>
            <string>paradiso_death_SE.png</string>
        </dict>
    </dict>
</plist>
