<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>baby_spider_walk_SW (1).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{256,256}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{0,0},{256,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baby_spider_walk_SW (10).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{256,256}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{256,256},{256,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baby_spider_walk_SW (11).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{256,256}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{512,256},{256,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baby_spider_walk_SW (12).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{256,256}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{768,256},{256,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baby_spider_walk_SW (13).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{256,256}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{1024,256},{256,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baby_spider_walk_SW (14).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{256,256}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{1280,256},{256,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baby_spider_walk_SW (15).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{256,256}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{1536,256},{256,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baby_spider_walk_SW (16).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{256,256}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{1792,256},{256,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baby_spider_walk_SW (2).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{256,256}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{256,0},{256,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baby_spider_walk_SW (3).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{256,256}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{512,0},{256,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baby_spider_walk_SW (4).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{256,256}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{768,0},{256,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baby_spider_walk_SW (5).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{256,256}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{1024,0},{256,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baby_spider_walk_SW (6).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{256,256}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{1280,0},{256,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baby_spider_walk_SW (7).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{256,256}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{1536,0},{256,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baby_spider_walk_SW (8).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{256,256}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{1792,0},{256,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baby_spider_walk_SW (9).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{256,256}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{0,256},{256,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>baby_spider_walk_SW.png</string>
            <key>size</key>
            <string>{2048,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:64a92534de1f0ffd9c84115c832f1d8b:7ec8a5c108a6cd92cec378f680db9377:836aa309d885b5ee9f72993e871b6bc8$</string>
            <key>textureFileName</key>
            <string>baby_spider_walk_SW.png</string>
        </dict>
    </dict>
</plist>
