<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>candleA_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{7,14}</string>
                <key>spriteSourceSize</key>
                <string>{7,14}</string>
                <key>textureRect</key>
                <string>{{0,0},{7,14}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>candleA_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{7,15}</string>
                <key>spriteSourceSize</key>
                <string>{7,15}</string>
                <key>textureRect</key>
                <string>{{0,14},{7,15}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>candleA_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{7,16}</string>
                <key>spriteSourceSize</key>
                <string>{7,16}</string>
                <key>textureRect</key>
                <string>{{7,14},{7,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>candleA_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{7,14}</string>
                <key>spriteSourceSize</key>
                <string>{7,14}</string>
                <key>textureRect</key>
                <string>{{7,0},{7,14}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>candleB_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{13,16}</string>
                <key>spriteSourceSize</key>
                <string>{13,16}</string>
                <key>textureRect</key>
                <string>{{0,73},{13,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>candleB_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{13,14}</string>
                <key>spriteSourceSize</key>
                <string>{13,14}</string>
                <key>textureRect</key>
                <string>{{0,30},{13,14}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>candleB_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{13,14}</string>
                <key>spriteSourceSize</key>
                <string>{13,14}</string>
                <key>textureRect</key>
                <string>{{0,44},{13,14}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>candleB_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{13,15}</string>
                <key>spriteSourceSize</key>
                <string>{13,15}</string>
                <key>textureRect</key>
                <string>{{0,58},{13,15}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>candle.png</string>
            <key>size</key>
            <string>{14,89}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e3dc0330e776c2e2fb171387108959a8:6e2ccb8875b5301cd6874607afb653d6:5cb21a1137aded726e3f9a2d996376df$</string>
            <key>textureFileName</key>
            <string>candle.png</string>
        </dict>
    </dict>
</plist>
