<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>angelos_walk_NW (1).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,200}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{0,0},{200,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>angelos_walk_NW (2).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,200}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{200,0},{200,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>angelos_walk_NW (3).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,200}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{400,0},{200,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>angelos_walk_NW (4).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,200}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{600,0},{200,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>angelos_walk_NW (5).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,200}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{800,0},{200,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>angelos_walk_NW (6).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,200}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{1000,0},{200,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>angelos_walk_NW (7).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,200}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{1200,0},{200,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>angelos_walk_NW (8).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,200}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{1400,0},{200,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>angelos_walk_NW.png</string>
            <key>size</key>
            <string>{1600,200}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7d479dd0084e48a62abe56f7b280b047:587b65d3f8b9149621e0c3ea9032fd3e:3576c056d0a224f1eb9143aee0ea8f55$</string>
            <key>textureFileName</key>
            <string>angelos_walk_NW.png</string>
        </dict>
    </dict>
</plist>
