<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>tele_effect (1).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,192}</string>
                <key>spriteSourceSize</key>
                <string>{192,192}</string>
                <key>textureRect</key>
                <string>{{0,0},{192,192}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tele_effect (10).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,192}</string>
                <key>spriteSourceSize</key>
                <string>{192,192}</string>
                <key>textureRect</key>
                <string>{{1728,0},{192,192}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tele_effect (2).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,192}</string>
                <key>spriteSourceSize</key>
                <string>{192,192}</string>
                <key>textureRect</key>
                <string>{{192,0},{192,192}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tele_effect (3).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,192}</string>
                <key>spriteSourceSize</key>
                <string>{192,192}</string>
                <key>textureRect</key>
                <string>{{384,0},{192,192}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tele_effect (4).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,192}</string>
                <key>spriteSourceSize</key>
                <string>{192,192}</string>
                <key>textureRect</key>
                <string>{{576,0},{192,192}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tele_effect (5).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,192}</string>
                <key>spriteSourceSize</key>
                <string>{192,192}</string>
                <key>textureRect</key>
                <string>{{768,0},{192,192}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tele_effect (6).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,192}</string>
                <key>spriteSourceSize</key>
                <string>{192,192}</string>
                <key>textureRect</key>
                <string>{{960,0},{192,192}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tele_effect (7).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,192}</string>
                <key>spriteSourceSize</key>
                <string>{192,192}</string>
                <key>textureRect</key>
                <string>{{1152,0},{192,192}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tele_effect (8).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,192}</string>
                <key>spriteSourceSize</key>
                <string>{192,192}</string>
                <key>textureRect</key>
                <string>{{1344,0},{192,192}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tele_effect (9).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,192}</string>
                <key>spriteSourceSize</key>
                <string>{192,192}</string>
                <key>textureRect</key>
                <string>{{1536,0},{192,192}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>teleport_effect.png</string>
            <key>size</key>
            <string>{1920,192}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:22504654452c856ac18864fdecccffd3:63e5f9ef8168d4880c34491d078f37f1:6a17e806ab144c130c974d9501b9160d$</string>
            <key>textureFileName</key>
            <string>teleport_effect.png</string>
        </dict>
    </dict>
</plist>
